@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Grenze+Gotisch&family=Lemon&family=Lexend+Zetta&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mogra&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Grenze+Gotisch&family=Lemon&family=Lexend+Zetta&family=Mogra&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url(./reset.css);

/* 
font-family: 'Mulish', sans-serif;
font-family: 'Merriweather', serif;
 */

body {
    font-family: 'Mulish', sans-serif;
    font-family: 'Merriweather', serif;
}

.container {
    width: 100%;
    height: 1078px;
    background-image: url(../img/aerial-view-of-sea.svg);
}

header {
    background: #FFFFFF;
    height: 109px;
    font-family: 'Mulish', sans-serif;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
    padding-top: 45px;
    padding-right: 40px;
    padding-bottom: 44px;
}

.nav ul li a {
    color: #1B1839;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.btn-header {
    width: 142px;
    height: 79px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: white;
    background: #35C2CF;
    border-radius: 5px;
    border: none;
}

.section {
    margin-top: 214px;
    margin-left: 160px;
}

.div-search {
    display: flex;
    flex-direction: column;
}

.div-search1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 21px;
}

.div-search1 .p1,
.p2 {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 58px;
    color: #FFFFFF;
}

.div-search2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 975px;
    height: 79px;
    background: #FFFFFF;
    box-shadow: 0px 12px 18px -5px rgba(0, 98, 131, 0.869728);
    border-radius: 5px;
}

.div-search .div-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-search .div-img span {
    display: inline-block;
}

.div-search .div-img span input {
    border: none;
}

.div-search .div-img span input::placeholder {
    font-size: 18px;
}

.div-search .div-img span :focus {
    outline: none;
}

.div-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    text-align: center;
    color: #5F5D74;
}

.div-img figure {
    width: 36px;
    height: 36px;
    margin-top: 22px;
    margin-right: 20px;
    margin-bottom: 21px;
    margin-left: 30px;
    display: inline-block;
}

.div-img figure img {
    width: 100%;
    height: 100%;
}

.btn2 {
    background: #F89259;
    border-radius: 0px 5px 5px 0px;
    height: 79px;
    width: 142px;
    border: none;
}

footer {
    width: 1300px;
    height: 243px;
    margin-right: 34px;
    margin-bottom: 35px;
    margin-left: 34px;
    background-color: white;
    margin-top: 288px;
    background: #FFFFFF;
    border-radius: 10px;
    
}

.div-text {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.div-text .p1-2 {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #1B1839;
    margin-top: 40px;
}

.div-text .p2-3 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 38px;
    color: #5F5D74;
}

.p1-2ex {
    margin-bottom: 35px;
}

.div-time {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 38px;
    color: #6E6C81;
}

.div-time span figure {
    width: 23px;
    height: 23px;
    display: inline-block;
    margin-right: 11px;
    vertical-align: text-bottom;
    margin-left: 15px;
}

.div-time span figure img {
    width: 100%;
    height: 100%;
}

.div-time {
    background: #F0F0F9;
    border-radius: 19px;
    width: 197px;
    height: 38px;
}